
body {

font-size: 20px;

}






header {




}




header.ul {





}



header.ul {




}



main{




}



h2 {




}


ul {

list-style-type: circle;


}

div span {


    font: size 2em;
    
}

div {

font-size: 2em;


}












